<nav>
    <mat-list dense>
        <mat-list-item>
            <h3>
                <a routerLink="/home"> Inicio </a>
            </h3>
        </mat-list-item>
        <mat-list-item>
            <h3>
                <a routerLink="/listado">Listado de personajes</a>
            </h3>
        </mat-list-item>
        <mat-list-item>
            <h3>
                <a routerLink="/search">Buscador de personajes</a>
            </h3>
        </mat-list-item>
    </mat-list>
</nav>

<router-outlet>
</router-outlet>