.mat-list-base[dense] {
    display: flex;
    justify-content: center;
    align-content: center;
    background: black;
    height: 80px;
    .mat-list-item {
        display: inline-flex;
        justify-content: center;
        align-self: center;
        a {
            color: blanchedalmond;
        }
    }
}